<div class="row">
  <div class="col-sm-12">
    <md-button ng-click="goToState('home.plan_add')" class="md-raised md-primary" style = "right:8px !important;">
      <i class = "fa fa-plus"></i>
        Add plan
    </md-button>


    <div class="table-responsive">
      <table class = "table table-hover">
        <thead>
          <th>Title</th>
          <th>Length</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat =  "plan in data.plans">
            <td>
              {{plan.title}}
            <td>
              {{plan.dosages.length}} weeks
            </td>
            <td>
              <md-button ng-click="showPatient()" class="md-raised md-primary pull-right" style = "right:8px !important;">
                <i class = "fa fa-edit"></i>
                  Edit
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
